<?xml version="1.0" encoding="utf-8"?>
<launch>
	<node name="yolov5_ROS" pkg="yolov5_ROS" type="ros_detect.py" output="screen">
		<param name="source" value="/usb_cam/image_raw/compressed" />
		<param name="weights" value="$(find yolov5_ROS)/src/yolov5/runs/train/project_name/weights/best.pt" />
		<param name="data" value="$(find yolov5_ROS)/src/yolov5/data/project_name.yaml" />
		<param name="device" value="0" />
		<param name="imgsz" value="640" />
	</node>
</launch>
